body {
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
}

/*
    ***************
    OFF-CANVAS CART
    ***************
*/

.offcanvas-header {
  background-image: url("./assets/golf-field-cart-bg.jpg");
  background-size: cover;
  min-height: 12.5rem;
  background-position: center bottom;
  align-items: flex-start;
  color: whitesmoke;
}

.cart-btn {
  border-radius: 2rem;
  padding-inline: 0.5em;
  margin: auto;
  background: none;
  border: none;
}

.cart-btn:hover {
  background-color: #598526;
  color: #f4f8df;
}

.cart-icon {
  font-size: 0.75rem;
}

.cart-product-container {
  border-bottom: 1px solid #f4f8df;
}

.offcanvas-category {
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.trash-icon {
  cursor: pointer;
}

.btn-continue-cart {
  background-color: #f6c26e;
  border: 2px solid #f6c26e;
  border-radius: 0;
  font-size: 0.9rem;
  font-weight: 700;
}

.btn-continue-cart:hover {
  background-color: #ffffff;
  border: 2px solid #f6c26e;
}

.btn-empty-cart {
  background-color: #ffffff;
  border-left: 2px solid #fddc96;
  border-right: 2px solid #fddc96;
  border-bottom: 2px solid #fddc96;
  border-radius: 0;
  font-size: 0.9rem;
  font-weight: 700;
}

.btn-empty-cart:hover {
  background-color: #fddc96;
  border: 2px solid #fddc96;
  color: #000;
}

.purchase-total {
  border-left: 1px solid #f4f8df;
  border-right: 1px solid #f4f8df;
}
