*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}

/*
    ***************
    OFF-CANVAS CART
    ***************
*/

.offcanvas-header {
    background-image: url("./assets/golf-field-cart-bg.jpg");
    background-size: cover;
    min-height: 12.5rem;
    background-position: center bottom;
    align-items: flex-start;
    color: whitesmoke;
}

.cart-btn {
    border-radius: 2rem;
    padding-inline: 0.5em;
    margin: auto;
    background: none;
    border: none;
}

.cart-btn:hover {
    background-color: #598526;
    color: #f4f8df;
}

.cart-icon {
    font-size: 0.75rem;
}

.cart-product-container {
    border-bottom: 1px solid #f4f8df;
}

.offcanvas-category {
    font-weight: 700;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.trash-icon {
    cursor: pointer;
}

.btn-continue-cart {
    background-color: #f6c26e;
    border: 2px solid #f6c26e;
    border-radius: 0;
    font-size: 0.9rem;
    font-weight: 700;
}

.btn-continue-cart:hover {
    background-color: #ffffff;
    border: 2px solid #f6c26e;
}

.btn-empty-cart {
    background-color: #ffffff;
    border-left: 2px solid #fddc96;
    border-right: 2px solid #fddc96;
    border-bottom: 2px solid #fddc96;
    border-radius: 0;
    font-size: 0.9rem;
    font-weight: 700;
}

.btn-empty-cart:hover {
    background-color: #fddc96;
    border: 2px solid #fddc96;
    color: #000;
}

.purchase-total {
    border-left: 1px solid #f4f8df;
    border-right: 1px solid #f4f8df;
}

/* -----------DROPDOWN-------------------------- */

/* li{
  position: relative;
}
li ul{
  position: absolute;
}
ul{
  list-style: none;
  padding: 0;
  color: #40591B;
  font-size: 18px;
}
ul a{
  text-decoration: none;
  min-width: 190px;
}
ul ul{
  display: none;
}
li:hover ul{
  display: block;
  z-index: 2;
  gap: 10px;
} */



/* ------------- NAV ------------- */

header {
    background-color: #ffffff;
}

header div{
    background-color: #F2A341;
    border-radius: 2px;
}

.button-own-login{
    color: black;
    text-decoration: none;
}

.button-own-login:hover{
    text-decoration: underline;
}

.button-own-login i{
    font-size: 20px;
}

/* ----------------- LOGO ---------------------------- */

.nav-logo{
    height: 200px;
}

.nav-ancor{
    font-size: 30px;
    text-decoration: none;
    color: #40591B;
    text-shadow: 1px 1px 1px white;
}

.article-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.article-nav-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.article-nav-2 a{
    text-decoration: none;
    color: #40591B;
    font-size: 18px;
}


/* --------------- CARDS ----------------------- */

.main-container {
    /*background-color: #FFFFFF;*/
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='%23FFFFFF' cx='50' cy='0' r='50'/%3E%3Cg fill='%23fefffd' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fefefc' cx='50' cy='100' r='50'/%3E%3Cg fill='%23fdfefa' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fdfef9' cx='50' cy='200' r='50'/%3E%3Cg fill='%23fcfdf7' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fcfdf5' cx='50' cy='300' r='50'/%3E%3Cg fill='%23fbfdf4' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fbfcf2' cx='50' cy='400' r='50'/%3E%3Cg fill='%23fafcf1' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fafcef' cx='50' cy='500' r='50'/%3E%3Cg fill='%23f9fbed' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f8fbec' cx='50' cy='600' r='50'/%3E%3Cg fill='%23f8faea' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f7fae9' cx='50' cy='700' r='50'/%3E%3Cg fill='%23f7fae7' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f6f9e5' cx='50' cy='800' r='50'/%3E%3Cg fill='%23f6f9e4' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f5f9e2' cx='50' cy='900' r='50'/%3E%3Cg fill='%23f5f8e1' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23F4F8DF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");*/
    /*background-attachment: fixed;*/
    /*background-size: contain;*/
}

.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    /*padding: 2rem;*/
    gap: 2rem;
    background: transparent !important;
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
    vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__cart {
    font-size: 25px;
}

.card__clock-info {
    float: right;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    padding: 15px;
}

.b-shadow {
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.card {
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 280px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 20px 20px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.image-info{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 6px solid grey;
}


.btn-custom {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 10px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.btn-custom:hover {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.btn-custom::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #658C2A;
    z-index: -1;
    transition: all 1s;
}

.btn-custom:hover::before {
    width: 160%;
}

/* ----------------- CAROUSEL ------------------------ */


.carousel-inner img{
    width: 100%;
    height: 650px;
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;
}


/* ----------------- VIDEO ------------------------ */


.video{
    width: 100%;
    height: 100%;
}

.video-products{
    height: 280px;
    width: 300px;
    align-items: start;
    display: flex;
}


/* ----------------- FOOTER ------------------------ */


.site-footer
{
    background: linear-gradient(to bottom, #4b6cb7 10%, #182848 90%);
    /* background-color: #3f3e3a; */
    /* background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%232e2d29' fill-opacity='0.54' fill-rule='evenodd'/%3E%3C/svg%3E"); */
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:rgba(245, 245, 245, 0.795);
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#8BC53E;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:#968A7E;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#4c4e58
}
.copyright-text
{
    color: #8BC53E;
    margin:0
}
@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#dc0bd5
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}
.social-icons a.dribbble:hover
{
    background-color:#1fe643
}

.golf-paradise-footer {
    font-size: 24px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 1.25rem;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.semi-bold {
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width:767px)
{
    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }
}