<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/products.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Golf Paradise - products</title>
  </head>
  <body>
    <header>
      <div class="d-flex align-items-center justify-content-between p-3">
        <a href="" type="" class="button-own-login">tel:40214214214</a>
        <a href="" class="button-own-login">Log in <i class="bi bi-person-circle"></i></a>
      </div>
    </header>
    <main id="app">
      <section>
        <article class="article-nav">
          <a class="nav-ancor" href="#"><img src="../images/gif-only-logo.gif" alt="golf-icon" class="nav-logo"> Golf Paradise</a>
          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search product" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
          </form> -->
        </article>
        <article class="article-nav-2">
          <a href="../web-golf/landing.html">Home</a>
          <a href="#">Ranking</a>
          <a href="#">Information</a>
          <a href="./contact.html">Contact</a>
          
        </article>
      </section>
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../images/caroulse-img1.jpg" class="" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../images/carousel-img2.jpg" class="" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../images/Approach.jpg" class="" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- <ul class="m-0">
        <li><a href="#"></a>Categories
          <ul>
              <li><a href="#">Category</a></li>
              <li><a href="#">Category</a></li>
              <li><a href="#">Category</a></li>
          </ul>
        </li>
      </ul> -->
      <section class="d-flex justify-content-center gap-5 p-4 align-items-center">
        <!-- <label for="Price">
          <input type="checkbox"  id="Price"> Price
        </label>
        <label for="New Products">
          <input type="checkbox" id="New Products"> New Products
        </label>
        <label for="A to Z">
          <input type="checkbox" id="A to Z"> A to Z
        </label>
        <label for="Z to A">
          <input type="checkbox" id="Z to A"> Z to A
        </label>
        <label for="Accesories">
          <input type="checkbox" id="Accesories"> Accesories
        </label>
        <label for="Shoes">
          <input type="checkbox" id="Shoes"> Shoes
        </label> -->
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Filter product" aria-label="Search">
        </form>
        <select >
          <option value="" disabled selected>Select one filter</option>
          <option value="" @click="orderForPrice">Price</option>
          <option value="">New</option>
          <option value="">A to Z</option>
          <option value="">Z to A</option>
        </select>
      </section>
      

      <h3 class="text-start p-2 mt-2">Clubs</h3>

      <section  id="cards-section">
        </div>
        <div class="cards container">
            <template v-for="product of clubsProducts">
                <article class="card card--1" data-aos="fade-down">
                    <div class="card__img"></div>
                    <a href="#" class="card_link"><img :src="product.img" alt="" class="card__img--hover img-fluid p-0"></a>
                    <div class="card__info">
                        <span class="card__category">{{ product.category }}</span>
                        <h3 class="card__title">{{ product.name }}</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <span class="card__time fs-6"><i class="bi bi-info-circle"></i> Stock: {{ product.stock }}</span>
                            </div>
                            <h6 class="m-0">$ {{ product.price }}</h6>
                            <div>
                                <a href="#" class="cart"><i class="bi bi-cart card__cart"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            </template>
        </div>
      </section>

    <h3 class="text-start p-2">Bags</h3>

    <section  id="cards-section">
    </div>
    <div class="cards container">
        <template v-for="product of bagsProducts">
            <article class="card card--1" data-aos="fade-down">
                <div class="card__img"></div>
                <a href="#" class="card_link"><img :src="product.img" alt="" class="card__img--hover img-fluid p-0"></a>
                <div class="card__info">
                    <span class="card__category">{{ product.category }}</span>
                    <h3 class="card__title">{{ product.name }}</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="card__time fs-6"><i class="bi bi-info-circle"></i> Stock: {{ product.stock }}</span>
                        </div>
                        <h6 class="m-0">$ {{ product.price }}</h6>
                        <div>
                            <a href="#" class="cart"><i class="bi bi-cart card__cart"></i></a>
                        </div>
                    </div>
                </div>
            </article>
        </template>
    </div>
  </section>

    <h3 class="text-start p-2">Balls</h3>

    <section  id="cards-section">
    </div>
    <div class="cards container">
        <template v-for="product of ballsProducts">
            <article class="card card--1" data-aos="fade-down">
                <div class="card__img"></div>
                <a href="#" class="card_link"><img :src="product.img" alt="" class="card__img--hover img-fluid p-0"></a>
                <div class="card__info">
                    <span class="card__category">{{ product.category }}</span>
                    <h3 class="card__title">{{ product.name }}</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="card__time fs-6"><i class="bi bi-info-circle"></i> Stock: {{ product.stock }}</span>
                        </div>
                        <h6 class="m-0">$ {{ product.price }}</h6>
                        <div>
                            <a href="#" class="cart"><i class="bi bi-cart card__cart"></i></a>
                        </div>
                    </div>
                </div>
            </article>
        </template>
    </div>
  </section>

    <h3 class="text-start p-2">Clothes</h3>

    <section  id="cards-section">
    </div>
    <div class="cards container">
        <template v-for="product of clothesProducts">
            <article class="card card--1" data-aos="fade-down">
                <div class="card__img"></div>
                <a href="#" class="card_link"><img :src="product.img" alt="" class="card__img--hover img-fluid p-0"></a>
                <div class="card__info">
                    <span class="card__category">{{ product.category }}</span>
                    <h3 class="card__title">{{ product.name }}</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="card__time fs-6"><i class="bi bi-info-circle"></i> Stock: {{ product.stock }}</span>
                        </div>
                        <h6 class="m-0">$ {{ product.price }}</h6>
                        <div>
                            <a href="#" class="cart"><i class="bi bi-cart card__cart"></i></a>
                        </div>
                    </div>
                </div>
            </article>
        </template>
    </div>
  </section>


    <h3 class="text-start p-2">Accesories</h3>

    <section  id="cards-section">
    </div>
    <div class="cards container">
        <template v-for="product of accesoriesProducts">
            <article class="card card--1" data-aos="fade-down">
                <div class="card__img"></div>
                <a href="#" class="card_link"><img :src="product.img" alt="" class="card__img--hover img-fluid p-0"></a>
                <div class="card__info">
                    <span class="card__category">{{ product.category }}</span>
                    <h3 class="card__title">{{ product.name }}</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="card__time fs-6"><i class="bi bi-info-circle"></i> Stock: {{ product.stock }}</span>
                        </div>
                        <h6 class="m-0">$ {{ product.price }}</h6>
                        <div>
                            <a href="#" class="cart"><i class="bi bi-cart card__cart"></i></a>
                        </div>
                    </div>
                </div>
            </article>
        </template>
    </div>
  </section>

    <h3 class="text-start p-2">Shoes</h3>

    <section  id="cards-section">
    </div>
    <div class="cards container">
        <template v-for="product of shoesProducts">
            <article class="card card--1" data-aos="fade-down">
                <div class="card__img"></div>
                <a href="#" class="card_link"><img :src="product.img" alt="" class="card__img--hover img-fluid p-0"></a>
                <div class="card__info">
                    <span class="card__category">{{ product.category }}</span>
                    <h3 class="card__title">{{ product.name }}</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="card__time fs-6"><i class="bi bi-info-circle"></i> Stock: {{ product.stock }}</span>
                        </div>
                        <h6 class="m-0">$ {{ product.price }}</h6>
                        <div>
                            <a href="#" class="cart"><i class="bi bi-cart card__cart"></i></a>
                        </div>
                    </div>
                </div>
            </article>
        </template>
    </div>
  </section>

    </main>

    <footer class="site-footer pt-4 pb-0 position-relative" >
      <h2 class="text-white golf-paradise-footer fw-bold text-uppercase">Golf Paradise</h2>
      <div class="container">
      <div class="container w-100 m-0" style="max-width: 100%;">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6 class="semi-bold">About us</h6>
            <p class="text-justify">Golfparadise.com  We pride ourselves on having a large community of passionate players who enjoy our content and benefit from our advice and recommendations. We also strive to provide an interactive platform where players can connect, share their experiences and learn from others.</p>
          </div>
  
          <div class="col-xs-6 col-md-3">
            <h6 class="semi-bold">Services</h6>
            <ul class="footer-links">
              <li><a href="#" class="text-white">Easy and free returns.</a></li>
              <li><a href="#" class="text-white">Quality guarantee on all our products.</a></li>
              <li><a href="#" class="text-white">Friendly and efficient customer support.</a></li>
              <li><a href="#" class="text-white">Free shipping on purchases over $100.</a></li>
            </ul>
          </div>
  
          <div class="col-xs-6 col-md-3">
            <h6 class="semi-bold">Latest news</h6>
            <ul class="footer-links">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis augue ac orci rutrum fringilla non ac massa. Doneca quis ullamcorper leo donec sit amet tortor at risus volutpat.</p>
              <li><a href="#" class="text-white">Read more...</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container mt-3 w-100"  style="max-width: 100%;">
        <div class="d-flex justify-content-between w-100 flex-wrap column-575">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text d-inline">Copyright &copy; 2023 All Rights Reserved by </p>
            <a class="text-white" href="#">Golf Paradise</a>
          </div>
  
          <div class="col-md-4 col-sm-6 col-xs-12 m-0">
            <ul class="social-icons">
              <li><a class="facebook bg-white" href="#"><i class="bi bi-facebook"></i></a></li>
              <li><a class="twitter bg-white" href="#"><i class="bi bi-instagram"></i></a></li>
              <li><a class="dribbble bg-white" href="#"><i class="bi bi-whatsapp"></i></a></li>
              <li><a class="linkedin bg-white" href="#"><i class="bi bi-twitter"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
    </div>
    <img src="./images/footer2.png" alt="" style="width: 100%; object-fit: cover; object-position: center bottom;">
  </footer>




    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="./products.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
